{
    "singleQuote": true,
    "endOfLine": "crlf",
    "overrides": [
        {
            "files": "*.(js|json)",
            "options": {
                "tabWidth": 2
            }
        },
        {
            "files": "*.vue",
            "options": {
                "tabWidth": 4
            }
        }
    ]
}
